
* {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: auto;
}
#wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Buttons for creating and administrating memo items*/
#itemEntry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.entryButton {
    border: 0;
    border-radius: 5px;
    height: 4ex;
    flex-basis: 40%;
}
/* "New" button */
#newMemo {
    background: #0f9d58;
}
/* "Remove Done" button */
#deleteDone {
    background-color: tomato;
}


/*Flex box of item cards*/
main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
/*An item */
.card {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: 5px 3px 5px -1px rgba(0, 0, 0, 0.34);
    transition: all 0.1s cubic-bezier(.18, .89, .32, 1.28);
    font-size: xx-large;
    text-decoration: none;
    color: black;

}

/* Checkbox marking card item as "done" */
.checkButton {
    border: 0;
    background-color: transparent;
    margin-right: 1em;
}

.checkButtonHover {
    color: orange;
}

/* Styling for items checked off as done*/
.done {
}

.done > .itemText{
    filter: blur(1px);
    text-decoration: line-through;
    color: #aaaaaaaa;
}


/* User input text on item card */
.itemText {
    flex-grow: 1;
}


/* Button and dropdown for priority marking */
.priStar {
    background: transparent;
    border: 0;
}
#priDropdown {
    position: fixed;
    width: min-content;
}
#priDropdown > * {
    z-index: 10;
}
.dropMenu {
    box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.34) ;
    border-radius: 5px;
    background-color: white;
}
/* Priority select buttons inside dropdown menu*/
.priButton {
    border: 0;
    display: block;
    width: 100%;
    font-size: inherit;
    padding: 0 0.5em;
}
.priTop{
    background-color: tomato;
}
.priMid{
    background-color: palegreen;
}
.priLow{
    background-color: cornflowerblue;
}
.priNone{
     background-color: inherit;
 }

/* Delete button on item card*/
.delete {
    background: transparent;
    border: 0;
    color: #5d6164;
}


/* --- Hover only enabled on devices that support it --- */
@media all and (hover) {

    .entryButton:hover{
        color: whitesmoke;
    }

    /* todo: these can be changed to JS instead*/
    .card:hover {
        width: 101%;
        box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.34);
    }

    .delete:hover {
        color: #f24236;
    }

    .priButton:hover {
        filter: brightness(90%);
    }

}

/* --- palceholder for mobile media rules --- */
@media all and (min-width: 600px) {
}
@media all and (min-width: 1200px) {
}